.code-highlighter {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;

  &__pre {
    margin: 0;
    transition: background-color var(--react-transition-duration, 400ms);

    scrollbar-width: thin;
    scrollbar-color: rgba(#6987b8, 0.5) rgba(#6987b8, 0.25);
  }

  &__code {
    transition:
      background-color var(--react-transition-duration, 400ms),
      color var(--react-transition-duration, 400ms);
  }
}
