.code-highlighter {
  opacity: 1;

  &__pre {
    transition: background-color var(--react-transition-duration, 400ms);
  }

  &__code {
    transition:
      background-color var(--react-transition-duration, 400ms),
      color var(--react-transition-duration, 400ms);
  }

  &--loading {
    opacity: 0;
  }
}
