.code-highlighter {
  box-sizing: border-box;
  width: 100%;

  &__pre {
    transition: background-color var(--react-transition-duration, 400ms);
  }

  &__code {
    transition:
      background-color var(--react-transition-duration, 400ms),
      color var(--react-transition-duration, 400ms);
  }
}
