.section {
  &__heading {
    margin-block-start: 1rem;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    color: var(--react-color-fg);
    font-size: 1.6rem;

    transition: opacity 400ms;

    position: relative;

    opacity: 0;
    &--visible {
      opacity: 1;
    }

    &::before {
      position: absolute;
      content: '';
      bottom: 0;
      height: 3px;
      background-color: var(--react-color-fg);
      transition:
        left 400ms ease-in-out 0ms,
        height 400ms ease-in-out 0ms,
        width 400ms ease-in-out 0ms;

      left: 50%;
      width: 0%;
    }

    &--visible::before {
      left: 45%;
      width: 10%;
    }

    &::after {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      border-bottom: solid 1px var(--react-color-fg);
      transition: width 400ms ease-in-out 200ms;
      pointer-events: none;

      width: 0%;
    }

    &--visible::after {
      width: 100%;
    }

    &::selection {
      background: var(--react-color-fg);
      color: var(--react-color-bg);
    }
  }
}
