.section {
  --cont-decoration-width: 10%;

  &__heading {
    margin-block-start: 1rem;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    color: var(--react-color-fg);
    font-size: 1.6rem;

    transition: opacity 400ms;

    position: relative;

    opacity: 0;
    &--visible {
      opacity: 1;
    }

    &::before {
      position: absolute;
      content: '';
      left: calc(50% - var(--cont-decoration-width) / 2);
      width: var(--cont-decoration-width);
      bottom: 0;
      height: 3px;
      background-color: var(--react-color-fg);
      transition: transform 400ms ease-in-out 0ms;

      transform: scaleX(0);
    }

    &--visible::before {
      transform: scaleX(1);
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      left: 0;
      bottom: 0;
      border-bottom: solid 1px var(--react-color-fg);
      transition: transform 400ms ease-in-out 200ms;
      pointer-events: none;

      transform: scaleX(0);
    }

    &--visible::after {
      transform: scaleX(1);
    }

    &::selection {
      background: var(--react-color-fg);
      color: var(--react-color-bg);
    }
  }
}
