.paragraph {
  color: var(--react-color-fg);
  margin-block: 1.5rem;

  transition: opacity 800ms;
  opacity: 0;

  &--visible {
    opacity: 1;
  }

  &::selection,
  *::selection {
    background-color: var(--react-color-fg);
    color: var(--react-color-bg);
  }
}
