@keyframes bounce {
  0% {
    transform: translateY(0%) scaleY(0.3) scaleX(1.5);
  }

  10% {
    transform: scaleY(0.8) scaleX(1.2);
  }

  100% {
    transform: translateY(-400%) scaleY(1.1);
  }
}

.wrapper {
  width: var(--react-size);
  height: var(--react-size);
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  div {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background-color: var(--react-color);
    animation-name: bounce;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;

    &:nth-last-of-type(1) {
      animation-delay: -100ms;
    }

    &:nth-last-of-type(2) {
      animation-delay: 0ms;
    }

    &:nth-last-of-type(3) {
      animation-delay: 100ms;
    }
  }
}
