@keyframes blink {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.wrapper {
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10%;

  &__dot {
    aspect-ratio: 1 / 1;
    animation-name: blink;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;

    &--light {
      background-color: rgba(0, 0, 0, 0.8);
    }

    &--dark {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}
