.bar-paginarion {
  width: 100%;
  display: flex;
  gap: 2px;

  &__bar {
    width: 100%;
    height: var(--react-bar-weight, 8px);

    cursor: pointer;
    transition:
      opacity 400ms,
      background-color 400ms;

    background-color: var(--react-color);

    opacity: 0.2;

    &--active {
      opacity: 1;
    }

    &:hover {
      background-color: #6987b8;
      opacity: 1;
    }

    &:active {
      background-color: #59b57c;
      opacity: 1;
    }
  }
}
