.wrapper {
  --const-margin: 8px;

  display: block;
  position: fixed;
  bottom: 0;
  margin: var(--const-margin);
  width: var(--react-size);
  height: var(--react-size);
  left: var(--react-position-left, auto);
  right: var(--react-position-right, auto);
  opacity: var(--react-position-opacity, 0);

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  transition:
    transform 700ms,
    opacity 400ms;
  transform-origin: 50% 50%;

  transform: translateY(200%) rotate(180deg);

  &.react-is-visible {
    transition:
      transform 700ms,
      opacity 200ms;
    transform: translateY(0%) rotate(0deg);
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }

  @keyframes move {
    0% {
      opacity: 0;
      transform: translateY(600%);
    }
    25% {
      opacity: 1;
      transform: translateY(220%);
    }
    42% {
      opacity: 1;
      transform: translateY(200%);
    }
    67% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 0;
      transform: translateY(-50%) scale(0.5);
    }
  }

  div {
    position: absolute;
    width: var(--react-size);
    height: var(--react-chevron-height);
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3000ms ease-out infinite;

    &:nth-of-type(1) {
      animation: move 3000ms ease-out 1000ms infinite;
    }

    &:nth-of-type(2) {
      animation: move 3000ms ease-out 2000ms infinite;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 50%;
      background: var(--react-color-fg);
    }

    &:before {
      left: 0;
      transform: skew(0deg, -30deg);
    }

    &:after {
      right: 0;
      transform: skew(0deg, 30deg);
    }
  }

  span {
    opacity: var(--react-position-opacity, 0);
    color: var(--react-color-fg);
    transition: opacity 200ms ease 400ms;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    position: absolute;
    z-index: 50;
    bottom: calc(0px - var(--const-margin));
    font-size: var(--react-font-size);
    white-space: nowrap;
    user-select: none;
  }
}
