.text {
  color: var(--react-color-fg);

  &::selection,
  *::selection {
    color: var(--react-selection-color-fg);
    background-color: var(--react-selection-color-bg);
  }

  &__strong {
    color: var(--react-color-strong);
  }

  &__del {
    color: var(--react-color-del);
    text-decoration-color: var(--react-color-del);
  }

  &__cite {
    margin-inline: 0.5rem;
    padding-inline: 0.5rem;
  }

  &__q {
    margin-inline: 0.5rem;
    padding-inline: 0.5rem;
  }

  &::before,
  &::after {
    color: var(--react-color-fg);
  }
}
