.code {
  padding: 0.25rem 0.5rem;
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 0.25rem;
  font-family: monospace;

  transition: color 400ms;

  color: var(--react-color-fg);

  &::selection {
    color: var(--react-color-fg-selection);
    background-color: var(--react-color-bg);
  }

  // &.react-light {
  //   color: var(--react-color-fg);
  //   &::selection {
  //     color: rgba(255, 255, 255, 0.8);
  //     background-color: rgba(0, 0, 0, 0.8);
  //   }
  // }

  // &.react-dark {
  //   color: var(--react-color-fg);
  //   &::selection {
  //     color: rgba(0, 0, 0, 0.8);
  //     background-color: rgba(255, 255, 255, 0.8);
  //   }
  // }
}
