.canvas {
  --const-modal-bg: rgba(255, 255, 255, 0.8);

  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition: opacity 300ms;

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }

  &--visible {
    opacity: 1;
    pointer-events: all;
  }

  &__container {
    max-width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    &-text {
      color: var(--const-modal-bg);
      margin-block: 0.5rem;

      &::selection {
        background-color: var(--const-modal-bg);
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }

  &__modal {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 1.5rem;

    transition: background-color 300ms ease 300ms;

    &::before {
      box-sizing: border-box;
      position: absolute;
      z-index: -5;
      content: '';
      padding: 0;
      margin: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: 1px solid var(--const-modal-bg);
      transition: transform 250ms ease 50ms;
      pointer-events: none;
    }

    &--hidden {
      background-color: rgba(255, 255, 255, 0.05);
      pointer-events: none;

      &::before {
        transform: scale(0);
      }
    }

    &--visible {
      background-color: var(--const-modal-bg);
      pointer-events: all;

      &::before {
        transform: scale(1);
      }
    }
  }
}
