.tabs {
  box-sizing: border-box;
  overflow-x: hidden;

  &__header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
  }

  &__header {
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    border-bottom: solid 4px var(--react-tab-color-secondary, rgba(0, 0, 0, 0));
    transition:
      border-color 250ms,
      background-color 250ms;

    &--selected {
      border-color: var(--react-tab-color-primary, rgba(0, 0, 0, 0));
    }

    &:hover {
      background-color: var(--react-tab-color-tertiary, rgba(0, 0, 0, 0));
    }
  }

  &__content-container {
    width: var(--react-content-width);
    display: flex;
    flex-direction: row;
    transition: transform 200ms;
    transform: var(--react-translate);
  }

  &__content {
    width: 100%;
    margin: 0.25rem;
  }
}
