.tooltip {
  z-index: 5;
  max-width: calc(100vw - var(--react-margin-double));
  max-height: calc(100vh - var(--react-margin-double));
  position: fixed;
  opacity: var(--react-opacity, 0);
  transition: opacity var(--react-animation-duration) ease 50ms;
  user-select: var(--react-event);
  pointer-events: var(--react-event);

  top: var(--react-position-top);
  left: var(--react-position-left);
}
